.futurasEscapadasComponent{
    width: auto;
   
}
.futurasEscapadasComponent__header{
    margin-left: 9px;
    font-size: larger;
}

.futurasEscapadasComponent__navBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute, fixed;
    border-bottom-width: 2px ;
    border: 10px;
    margin-left: 2px;
    border-bottom: 2px solid rgb(150, 150, 150);
}

.futurasEscapadas__locationCard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.futurasEscapadas__locationCard-Container{
    padding: 4px;
    padding-left: 10px;
}

.futurasEscapadas__locationCard-Container--city{
    font-family: medium;
    font-size: medium;
    margin-bottom: 0%;
}

.futurasEscapadas__locationCard-Container--city:hover{
    text-decoration: underline;
}

.futurasEscapadas__locationCard-Container--country{
    font-family: medium;
    font-size: small;
    color: rgb(129, 129, 129);
    margin-top: 0%;
}
.futurasEscapadas__locationCard-Container--country:hover{
    text-decoration: underline;
}