.inspiracionFuturasEscapadas__container{
    width: auto;
    border: none;
}
.InspiraciónFuturasEscapadas__header{
    margin-left: 9px;
    font-size: larger;
}

.InspiraciónFuturasEscapadas__buttons--container{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute, fixed;
    border-bottom-width: 2px ;
    border: 10px;
    margin-left: 2px;
    border-bottom: 2px solid rgb(150, 150, 150);
}

.InspiraciónFuturo__buttons--button{
    
    background-color: white;
    border: none;
    font-family: medium;
    font-size: medium;
    padding: 20px;
    padding-right: 30px;
}
.InspiraciónFuturo__buttons--button:hover{
    background-color: rgb(187, 187, 187);
    border-radius: 30px;
}
.InspiraciónFuturo__buttons--button:focus{
    background-color: rgb(187, 187, 187);
    border-radius: 30px;
}

.locationCard__Container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cityCountry__Container{
    padding: 4px;
    padding-left: 10px;
}

.city{
    font-family: medium;
    font-size: medium;
    margin-bottom: 0%;
}

.city:hover{
    text-decoration: underline;
}

.country{
    font-family: medium;
    font-size: small;
    color: rgb(129, 129, 129);
    margin-top: 0%;
}
.country:hover{
    text-decoration: underline;
}