.header__search{
    width: max-content;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0px 25px;
    border-radius: 50px;
    
    
}
.header__search--column{
    display: flex;
    justify-content: center;
    margin: auto;
   
    justify-content: space-between;
    
}
.searchImg{
    height: 70px;
    width: 70px;
    margin: none;
    
}
.search__input{
border: none;
}
.search__column--input{
   text-align: left;
   border: none;
   background-color: white;
}
.search__column--input:hover{
    text-decoration: underline;
}
.searchButton{
    background-color: white;
    padding-top: 25px;
     border: none ;
     border-radius: 50px;
     padding-top: 50px;
     background-color:white;
     padding: 0%;
     size: 0px;
}