
.container__header{
    height: auto;
    width:100%;
}
.header__nav{
   height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header__nav--down{
    position:fixed;
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header__nav--logo{
    height: 50px;
    width: 170px;
    margin-left: 25px;
}
.header__nav--logoDown{
    height: 50px;
    width: 170px;
    margin-left: 25px;
}

.header__nav--midButtons{
   align-items: center;
}

.header__nav--midButtonsDown{
    display: none;
    background-color: antiquewhite;
}
.header__nav--rigthButtons {
    display: flex;
    flex-direction: row;
    padding-right: 60px;
}
.header__nav--rigthButtonsDown {
    display: flex;
    flex-direction: row;
    padding-right: 60px;
}
.header__button--rigth{
    margin:auto
}
.worldButton__container{
    background-color: black;
    position: relative;
    padding: 20px;
    margin: auto;
}
.worldButton__container:hover{
    background-color: rgb(32, 32, 32);
    border-radius: 100px;
}
.worldIcon{ 
   height: 20px;
    width: 20px;
}

.menuButton__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0px;
    margin-top: 20px ;
    margin-bottom: 20px;
    border-radius: 30px;
    justify-content: space-between;
}
.menuButton__container:hover{
    box-shadow: -2px 2px 3px rgb(80, 80, 80) ;
}
.userIcon{
    height: 20px;
    width: 20px;
}

.menuIcon{
height: 20px;
width: 20px;
margin-right: 10px;
margin-left: 5px;
}
.container__input{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}



