.descubreExperiencias__card{
   
   border-radius: 15px;
    width: 48%;
    height: 1000px;
    
}
.descubreExperiencias__textbuttonContainer{
    margin: 80px;
    margin-top: 800px;
    
}

.descubreExperiencias__text{
    font-size: 25px;
   color: white
}
