.card__container--descubreExperiencias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0%;
    
}
.component__descubreExperiencias{
    border-radius: 10px;
    font-size: 35px;
}
