
.component__busquedaFlexible {
   display: flex;
   flex-direction: column ;
   justify-content: center;
   align-items: center;
   font-size: large;
   border-radius: 5px;
   
}
.busquedaFlexible__textButton--container{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 600px;
 

}

.busquedaFlexible__text{
   color: white;
   font-family: medium;
   font-size: xx-large;
   margin-bottom: 70px;
   
}
.busquedaFlexible__button--text{
   font-size: 20px;
   background: -webkit-linear-gradient(left, rgb(82, 5, 112), rgb(204, 0, 204));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin: 0px;
}