
body{
 margin: 0%;
}
.App__container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; 
}

.background__black{
  background-color: rgb(0, 0, 0);
  position: absolute;
  width:100%;
  height: 1600px;
  z-index: -1;  
}

.App__header{
     color: white;
    display:flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    margin: 0cm;
    position: fixed;
}

.App__main{
  padding-top: 190px;
}
.App__tarjetaActualizacion{
display:flex;
flex-direction: column;
margin: 100px;
}
.App__busquedaFlexible{
  height: 1300px;
  border-radius: 10px;
  margin: 100px;
  
}
.App__proximosViajes{
display:flex;
flex-direction: column;
margin: 100px;
}
.App__descubreExperiencias{
display:flex;
flex-direction: column;
margin: 100px;
}
.App__tarjetaRegalo{
   display:flex;
   flex-direction: row;
   margin: 100px;
   
}
.App__hospedar{
   display:flex;
   flex-direction: column;
   margin: 100px;
}
.App__inspiracionFuturo{
   display:flex;
   flex-direction: column;
  
   margin: 100px;
}
.App__footer{
  width: auto;
    display:flex;
    flex-direction: column;
    padding: 100px;
    
}


