.Footer{
    background-color: rgb(235, 233, 233);
    width: 100%;
}

.Footer__ColumnsContainer{

 display: grid;
 grid-auto-flow: column;

}
.Footer__Column{
    
    display: flex;
    flex-direction:column;
    
}
.container__button--column:hover{
    text-decoration: underline;
   
}
.container__button--infoFooter:hover{
    text-decoration: underline;
}
.Footer__BottomStrap{
    
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding-top: 15px;
    justify-content: space-between;
    border-top: 1px solid rgb(151, 151, 151);
    
}
.Footer__BottomStrap-Left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    justify-content: space-between;
    
   
}
.Footer__dot{
    height: 30px;
    margin:5px;
    padding-left: 6px
}
.Footer__copyrightIcon{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    
}
.Footer__AirbnbInc{
  font-family: medium;
}
.Footer__BottomStrap-Rigth{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
 
}

.Footer__WorldEspañolButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: rgb(235, 233, 233);
}
.Footer__WorldIconImg{
    margin: 10px;
    height: 20px;
     width: 20px;
 }
 .Footer__SpanishText{
     font-family: bold;
     text-decoration: underline solid black 1px;
 }
 
 .Footer__euroButton{
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-right: 50px;
     border: none;
     background-color: rgb(235, 233, 233);
    }
 .Footer__euroIcon{
       margin: 10px;
       height: 20px;
       width: 20px;
   }
 .Footer__euroText{
     font-family: bold;
     text-decoration: underline solid black 1px;
 }



.Footer__facebookButton{
    border: none;
    background-color: rgb(235, 233, 233);
}
.Footer__facebookImg{
    height: 20px;
    width: 20px;
}
.Footer__twitterButton{
    border: none;
    background-color: rgb(235, 233, 233);
}
.Footer__twitterImg{
    height: 20px;
    width: 20px;
}
.Footer__instagramButton{
    border: none;
    background-color: rgb(235, 233, 233);
}
.Footer__instagramImg{
    height: 20px;
    width: 20px;
}